/* 
&display=swap&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 10px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1440px;
	height: 700px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: url(../img/fon.jpg) 0 -350px no-repeat;
	
}
/* ------------------------------ */

.tank__conteiner {
	position: relative;
	margin: 0 auto;
	width: 1020px;
	top: 190px;
	left: 120px;
	animation-name: tankname;
	animation-duration: 25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	
}
@keyframes tankname {
	0% {
		transform: translate(-1300px);
	}
	100% {
		transform: translate(1020px);
	}
}


.tank-tower__one {
	height: 80px;
	width: 300px;
	border: 4px solid #000000;
	position: absolute;
	border-radius: 30px 60px 60px 40px;
	top: 90px;
	left: 300px;
	z-index: 2;
	background: #52734D url(../img/star.png) 200px 20px / 10% no-repeat;	
}
.tank-tower__red-line_one {
	height: 2px;
	width: 108px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 31px;
	left: 90px;
}
.tank-tower__red-line_two {
	height: 2px;
	width: 108px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 38px;
	left: 90px;
}
.tank-tower__red-line_three {
	height: 2px;
	width: 26px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 31px;
	left: 3px;
}
.tank-tower__red-line_four {
	height: 2px;
	width: 24px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 38px;
	left: 3px;
}
.tank-tower__red-line_five {
	height: 2px;
	width: 58px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 31px;
	left: 230px;
}
.tank-tower__red-line_six {
	height: 2px;
	width: 58px;
	border: 1px solid red;
	background: red;
	position: absolute;
	top: 38px;
	left: 230px;
}

.tank-tower__text {
	font-size: 30px;
	font-family: 'Rampart One', cursive;
	position: absolute;
	top: 20px;
	left: 30px;
	color: #09e009;
	z-index: 9;

}
.tank-tower__two{

	height: 40px;
	width: 30px;
	border: 2px solid #000000;
	position: absolute;
	top: 110px;
	left: 580px;
	border-radius: 0px 10px 10px;
	background: #52734D;
	z-index: 1;
	
}

.tank-tower__three {
	height: 15px;
	width: 320px;
	border: 2px solid #000000;
	position: absolute;
	top: 121px;
	left: 605px;
	background: #52734D;
	z-index: 0;
}

.tank-tower__five {
	height: 20px;
	width: 200px;
	border: 3px solid #000000;
	position: absolute;
	top: 158px;
	left: 360px;
	border-radius: 0px 10px 0px 0px;
	background: #474343;
	
}
.tank-tower__six {
	height: 5px;
	width: 60px;
	border: 2px solid #000000;
	position: absolute;
	top: 100px;
	left: 360px;
	background: #000000;
}
.tank-tower__seven {
	height: 5px;
	width: 60px;
	border: 2px solid #000000;
	position: absolute;
	top: 110px;
	left: 360px;
	background: #000000;
}
.tank-tower__eight {
	height: 5px;
	width: 60px;
	border: 2px solid #000000;
	position: absolute;
	top: 120px;
	left: 360px;
	background: #000000;
}
.tank-tower__nine {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: absolute;
	border: 2px solid #000000;
	top: 80px;
	left: 330px;
	background: #474343;
	
}
.tank-tower__ten {
	height: 20px;
	width: 70px;
	border-radius: 10px 10px 0px 0px;
	position: absolute;
	border: 2px solid #000000;
	top: 75px;
	left: 375px;
	background: #000000;
}
.tank-tower__ten_line {
	height: 0px;
	width: 55px;
	border: 1px solid #ffffff;
	background: oldlace;
	position: absolute;
	top: 5px;
	left: 5px;
}

.tank-body__one {
	height: 60px;
	width: 450px;
	position: absolute;
	border-top: 4px solid #000000;
	top: 175px;
	left: 120px;
	background-color: rgb(236, 189, 189);
	z-index: 3;
	background: #52734D;
}
.tank-body__one_handrail-one{
	height: 10px;
	width: 60px;
	position: absolute;
	border: 4px solid #000;
	border-bottom: none;
	top: 10px;
	left: 170px;
}
.tank-body__one_handrail-two{
	height: 10px;
	width: 60px;
	position: absolute;
	border: 4px solid #000;
	border-bottom: none;
	top: 10px;
	left: 250px;
}
.tank-body__one_handrail-three{
	height: 10px;
	width: 60px;
	position: absolute;
	border: 4px solid #000;
	border-bottom: none;
	top: 10px;
	left: 330px;
}
.tank-body__two {
	height: 75px;
	width: 60px;
	position: absolute;
	border: 4px solid #000000;
	top: 175px;
	left: 120px;
	transform-origin:top left;
	transform: rotate(47deg);
	background: #52734D;

}
.tank-body__three {
	height: 60px;
	width: 100px;
	position: absolute;
	border-top: 4px solid #000000;
	top: 175px;
	left: 570px;
	transform-origin:top left;
	transform: rotate(32deg);
	background: #52734D;
	z-index: 2;

}
.tank-body__four {
	height: 50px;
	width: 170px;
	position: absolute;
	border: 4px solid #000000;
	top: 165px;
	left: 112px;
	z-index: 4;
	background: #474343;
	border-radius: 15px;
}
.tank-body__four_clamps-one {
	height: 48px;
	width: 5px;
	position: absolute;
	border: 1px solid#000000;
	background: #000000;
	top: -3px;
	left: 22px;
	
}
.tank-body__four_clamps-two {
	height: 48px;
	width: 5px;
	position: absolute;
	border: 1px solid#000000;
	background: #000000;
	top: -3px;
	left: 55px;
}
.tank-body__four_clamps-three {
	height: 48px;
	width: 5px;
	position: absolute;
	border: 1px solid#000000;
	background: #000000;
	top: -3px;
	left: 95px;
}
.tank-body__four_clamps-four {
	height: 48px;
	width: 5px;
	position: absolute;
	border: 1px solid#000000;
	background: #000000;
	top: -3px;
	left: 135px;
}
.tank-body__five {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #000000;
	top: 160px;
	left: 52px;
	background: #474343;
}
.tank-body__six {
	height: 40px;
	width: 50px;
	border-radius: 26% 74% 68% 32% / 51% 50% 50% 49% ;
	position: absolute;
	border: 4px solid #000000;
	top: 185px;
	left: 575px;
	background: #000000;
	
}
.tank-body__seven {
	height: 5px;
	width: 50px;
	background: #000000;
	position: absolute;
	border: 2px solid #000000;
	top: 202px;
	left: 620px;
}
.tank-body__eight {
	height: 8px;
	width: 10px;
	background: #000000;
	position: absolute;
	border: 2px solid #000000;
	top: 201px;
	left: 667px;
}
.tank-body__nine {
	height: 60px;
	width: 730px;
	position: absolute;
	border: 4px solid #000000;
	top: 225px;
	left: 5px;
	z-index: 8;
	background: #52734D;
	border-radius: 90px 90px 0px 0px;
}
.tank-body__nine_armor_one	{
	border: 2px solid #000000;
	height: 40px;
	width: 200px;
	position: absolute;
	top: 5px;
	left: 10px;
	border-radius: 90px 0px 0px 0px;
	background: #3d5039;
}

.tank-body__nine_armor_two	{
	border: 2px solid #000000;
	height: 40px;
	width: 290px;
	position: absolute;
	top: 5px;
	left: 215px;
	background: #3d5039;
}
.tank-body__nine_armor_three	{
	border: 2px solid #000000;
	height: 40px;
	width: 200px;
	position: absolute;
	top: 5px;
	left: 510px;
	border-radius: 0px 90px 0px 0px;
	background: #3d5039;
	
}
.tank-body__eleven {
	height: 110px;
	width: 710px;
	position: absolute;
	border: 13px solid #000000;
	top: 255px;
	left: 15px;
	z-index:6;
	background:#ffffff;
	border-radius: 40px 40px 90px 90px;
	background: #474343;
	box-shadow: 0px 0px 100px 0px;

}
.wheels__one {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 26px;	
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	
}
.wheels__two {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 94px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;


}
@keyframes somename {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.wheels__three {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 190px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.wheels__four {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 284px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.wheels__five {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 374px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.wheels__sex {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 464px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}
.wheels__seven {
	height: 83px;
	width: 83px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 564px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.wheels__eight {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	position: absolute;
	border: 4px solid #656965;
	top: 269px;
	left: 664px;
	z-index: 7;
	background: #303003;
	animation-name: somename;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

.wheels__part-one {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 32px;
	left: 33px;
	background: #000000;
}
.wheels__part-two {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 32px;
	left: 15px;
	background: #000000;
}

.wheels__part-three {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 32px;
	left: 52px;
	background: #000000;
}
.wheels__part-four {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 16px;
	left: 33px;
	background: #000000;
}

.wheels__part-five {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 48px;
	left: 33px;
	background: #000000;
}
.wheels__part-six {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 10px;
	left: 11px;	
}

.wheels__part-one_little {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 20px;
	left: 19px;
	background: #000000;
}
.wheels__part-two_little {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 20px;
	left: 9px;
	background: #000000;
}

.wheels__part-three_little {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 20px;
	left: 30px;
	background: #000000;
}
.wheels__part-four_little {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 10px;
	left: 19px;
	background: #000000;
}

.wheels__part-five_little {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	border: 2px solid #656965;
	position: absolute;
	top: 30px;
	left: 19px;
	background: #000000;
}
.box-armor__element-one {
	height: 4px;
	width: 173px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 5px;
	left: 20px;

}
.box-armor__element-two {
	height: 4px;
	width: 183px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top:15px;
	left: 10px;

}
.box-armor__element-three {
	height: 4px;
	width: 188px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 25px;
	left: 5px;
}
.box-armor-two__element-one {
	height: 4px;
	width: 280px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 5px;
	left: 5px;
}
.box-armor-two__element-two {
	height: 4px;
	width: 280px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 15px;
	left: 5px;
}
.box-armor-two__element-three {
	height: 4px;
	width: 280px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 25px;
	left: 5px;
}
.box-armor-three__element-one {
	height: 4px;
	width: 170px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 5px;
	left: 5px;
}
.box-armor-three__element-two {
	height: 4px;
	width: 180px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 15px;
	left: 5px;
}
.box-armor-three__element-three {
	height: 4px;
	width: 185px;
	border: 1px solid #000000;
	background: #000000;
	position: absolute;
	top: 25px;
	left: 5px;
}